.bannerBox{
    width:100%;
    height:285px;
    position: relative;
}
.bannerBox .slick-track{
    display: flex;
}
.bannerBox .slick-dots{
    display: flex !important;
    position: absolute;
    bottom:0.5rem;
    left: 50%;
    transform: translateX(-50%) translateY(-0.5rem);
}
.ant-carousel .slick-dots li{
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 16px;
    height: 3px;
    margin: 0 3px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    transition: all .5s;
}
.ant-carousel .slick-dots li.slick-active{
    width: 1.2rem;
    background-color: #fff;
}
.bannerBox .slick-dots button{
    display: block;
    width: 100%;
    height: 3px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: .3;
    transition: all .5s;
}
.bannerItem img{
    width:100%;
    height:285px;
}
.home-box{
    height:16rem;
}